<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DeltaCap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}assets/login_page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ STATIC_URL }}assets/login_page/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ STATIC_URL }}assets/login_page/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}assets/login_page/css/creative.min.css" rel="stylesheet">
</head>
<style>
        .news{ margin: auto; padding:0; text-align:left}
        .news-text{ font-size:14px; padding-bottom:10px;}
        marquee
        {
            height: 200px;
        }


</style>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top"><img
            src="{{ STATIC_URL }}assets/login_page/img/logo-new.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#objective">Objective</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#evaluation">Evaluation</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#statistics">Statistics</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#partners">Partners</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#login">Login</a></li>

            </ul>
        </div>
    </div>
</nav>

<!-- Banner -->
<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner"><img src="{{ STATIC_URL }}assets/login_page/img/dc-logo-c.png">
            <h1 id="homeHeading">Welcome to Digital Monitoring and Evaluation Data Dashboard!!</h1>
            <hr>
            <p>Generate high quality insights for your business using<br>
                human intelligence and machine learning</p>
{#            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact-sales">More</a></div>#}
{#            <marquee direction="up" scrolldelay="200" onmouseover="this.stop();" onmouseout="this.start();">#}
                <div id="news_feed"></div>





    </div>
</header>

<!-- welcome -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Welcome to Digital Monitoring and Evaluation Data Dashboard!!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <div><i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Project Overview/Background</h3>
                    <p class="text-muted">DeltaCap (2017-2020) is a Niche project helping to develop capacity and skills
                        for Bangladesh to implement its Delta Plan 2100, jointly led by UNESCO-IHE and Wageningen
                        University and Research and implemented in close cooperation with the Government of Bangladesh.
                        It is set up to develop water management skills and capacity, through training and knowledge
                        transfer opportunities.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Project Objective -->
<section id="objective" class="bg-customers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Project Objective</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                1. “Strengthening education and training capacities for water sector professionals required to putting
                the Bangladesh Delta Plan (BDP2100) on the ground”<br>
                2. “Operationalizes the proposed decentralization of water management issues and regionalization of
                water related policies proposed in the Delta Plan”
            </div>
        </div>
    </div>
</section>


<!-- How it works -->
<section id="evaluation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Digital Monitoring and Evaluation Form in DeltaCap</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box"><i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Mobile Based Data Collection </h3>
                    <p class="text-muted">
                        IMPROVED DATA QUALITY <br>
                        DECREASED COST<br>
                        IMPROVED MONITORING<br>
                        REAL-TIME DATA
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box"><i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>WEB-BASED INFORMATION SYSTEM</h3>
                    <p class="text-muted">
                        WEB-DASHBOARD TO VIEW ON-DEMAND DATE <br>
                        DATA UPDATES IN REAL-TIME<br>
                        DATA FILTERING CAPABILITIES
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box"><i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>DYNAMIC VISUALIZATION</h3><br>
                    <p class="text-muted">
                        INSTANT REPORT GENERATION<br>
                        IMPROVED DECISION MAKING
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Statistics -->
<section id="statistics" class="bg-customers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Highest Priority Training</h2>
                <hr class="primary">

                    <div class="row margin " style="min-width : 824px">


                        <div id="mostPriorityTraining" class="col-md-12 right-panel-custom box margin margin-width ">


                        </div>

                    </div>
                    <div class="row margin " style="min-width : 824px">

                        <div id="mostPreferedTraining" class="col-md-12 right-panel-custom box margin margin-width ">


                        </div>

                    </div>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

<!-- Partners -->
<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partners</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box"><img src="{{ STATIC_URL }}assets/login_page/img/partner/unesco-logo.png"
                                              width="200" height="42"></div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box"><img src="{{ STATIC_URL }}assets/login_page/img/partner/dc-logo.png"
                                              width="200" height="42"></div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box"><img src="{{ STATIC_URL }}assets/login_page/img/partner/wagen.png" width="200"
                                              height="42"></div>
            </div>
        </div>
    </div>
</section>

<!-- login -->
<section id="login" class="bg-contact-sales">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 contact-form registration__bg">
                {#                <form>#}
                {#                    <div class="form-row">#}
                {#                        <div class="form-group col-md-4">#}
                {#                            <label for="inputEmail4" class="col-form-label"></label>#}
                {#                            <input type="Name" class="form-control" id="inputName" placeholder="Username">#}
                {#                        </div>#}
                {#                        <div class="form-group col-md-4">#}
                {#                            <label for="inputCity" class="col-form-label"></label>#}
                {#                            <input type="password" class="form-control" id="inputCity" placeholder="password">#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <button type="submit" class="btn btn-primary">Login</button>#}
                {#                </form>#}


                <!-- <form method="post" action="." class="registration registration--login"> -->
                <form id="login_form" method="post" action="/usermodule/login/"
                      class="registration registration--login">
                    {% csrf_token %}
                    {#    <p><label for="id_username">Username:</label> <input type="text" name="username" value="" size="20" /></p>#}
                    {##}
                    {#    <p><label for="id_password">Password:</label> <input type="password" name="password" value="" size="20" /></p>#}

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="id_username" class="col-form-label"></label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Username">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="id_password" class="col-form-label"></label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password">
                        </div>
                    </div>


                    <input type="hidden" id="redirect_url" name="redirect_url" value="{{ redirect_url }}"/>
                    <input type="submit" value="Login" class="registration__action btn btn-primary"/>
                </form>

            </div>
        </div>
    </div>
</section>

<!-- Footer -->

<footer class="bg-primary" style="color:#FFF;">
    <div class="container">
        <div class="row">
            <p style="padding-top: 20px;">&copy; 2017 DeltaCap</p>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ STATIC_URL }}assets/login_page/vendor/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}assets/login_page/vendor/popper/popper.min.js"></script>
<script src="{{ STATIC_URL }}assets/login_page/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ STATIC_URL }}assets/login_page/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="{{ STATIC_URL }}assets/login_page/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="{{ STATIC_URL }}assets/login_page/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="{{ STATIC_URL }}js/login_page/js/creative.min.js"></script>


<!-- Highchart -->
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<!-- For Dashboard Work -->

<script>

      var news = {{ news | safe }};
    var news_str = "<marquee direction=\"up\" scrolldelay=\"200\" onmouseover=\"this.stop();\" onmouseout=\"this.start();\">"
    for(var each in news)
    {
        news_str += '<div class="col-lg-4 news"><h5><a href="'+news[each].link+'" target="_blank">'+news[each].title+'</a></h5><span class="news-text">'+news[each].description+'</span></div><br>'
    }
    news_str +="</marquee>"

    $('#news_feed').html(news_str);


    //  Required For Ajax call ---- Start

    function ajaxSetupRequirement() {

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });


    }

    //  Required For Ajax call ---- End


    $(document).ready(function (e) {



        ajaxSetupRequirement()
        getTrainDashBoard();   // Get Training DashBoard

    });


    // Function Ajax call to Generate DashBoard
    function getTrainDashBoard() {

        $.ajax({
            type: 'POST',
            url: '/deltacap/getTrainingData/',
            data: {
                'gender': '%',
                'age_group': '%',
                'institution': '%',
                'position_organization': '%',
                'position_involved': '%'

            },
            success: function (data) {


                console.log("DTATAT")
                console.log(data)

                var mostPriorityTrainingBarchartMale = JSON.parse(data.dataSetMostPriorityTrainingMale)
                var mostPriorityTrainingBarchartFemale = JSON.parse(data.dataSetMostPriorityTrainingFemale)
                jsonDataList2('mostPriorityTraining', '', 'column', false, true, mostPriorityTrainingBarchartMale, mostPriorityTrainingBarchartFemale)

            }

        });

    }


    

    Array.prototype.sum = function() {return [].reduce.call(this, (a,i) => a+i, 0);}


    // Function  For Generate Dashboard with Data

    function jsonDataList2(divId, titleText, chartType, stackLabelEnabled, plotColumnDatalabelEnabled, dataset1, dataset2) {


        var all_stack_total = dataset1.total[0].data.sum() + dataset2.total[0].data.sum();


        // ******* Total Value of Chart (S) ******
        var dataSum1 = 0;
        var dataSum2 = 0;
        if (chartType != 'pie') {

            for (var i = 0; i < dataset1.total[0].data.length; i++) {

                dataSum1 += dataset1.total[0].data[i]
            }

            for (var i = 0; i < dataset2.total[0].data.length; i++) {

                dataSum2 += dataset2.total[0].data[i]
            }


            //     var pcnt = (this.y / dataSum) * 100;


        }


        // ******* Total Value of Chart (E) ******
        if (divId == 'mostPriorityTraining' || divId == 'mostPreferedTraining') {
            var chart = {
                type: chartType,
                height: 220
            };
        }
        else {
            var chart = {
                type: chartType,
                // height: 250
            };
        }

        var title = {
            style: {

                fontSize: '11px',
                fontWeight: 'bold'

            },
            text: titleText,
        };


        var subtitle = {
            text: ' ',
        };


        if (divId == 'mentoringAndCoching' || divId == 'classOrLecture' || divId == 'webBasedOrElearning' || divId == 'reading' || divId == 'workshopsOrInteractiveSessions') {

            var xAxis = {

                labels: {
                    enabled: false
                },

                categories: dataset.cat_list,
                //     tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            };

        }

        else {
            var xAxis = {

                categories: dataset1.cat_list,
                //     tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            };

        }

        var yAxis = {

            labels: {
                enabled: false
            },

            allowDecimals: false,
            min: 0,
            title: {
                text: 'Total Number',
                enabled: false,
            },

            stackLabels: {
                enabled: stackLabelEnabled,
                style: {
                    //fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }

            }
        };


        var legend = {
            layout: 'horizontal',
            align: 'middle',
            verticalAlign: 'bottom',
            enabled: false
        };


        if (chartType == 'pie') {
            var tooltip = {

                pointFormat: '<b>{point.percentage:.1f}%</b>'
            };
        }
        else {

            var tooltip = {

                    formatter: function() {
       var s = '<b>'+ this.x +'</b>',
           sum = 0;

       $.each(this.points, function(i, point) {
           s += '<br/>'+ point.series.name +': '+ point.y + ' ('+(point.y/all_stack_total*100).toPrecision(2)+'%)';
           sum += point.y;
       });

       s += '<br/>Sub Total: '+sum + ' ('+(sum/all_stack_total*100).toPrecision(2)+'%)';
       s += '<br/>Total: '+ all_stack_total
       return s;
   },
   shared: true



                     //pointFormat: '<p>{series.name} : </p></br><b>{point.y} </b><br>Total : <b>{point.total}</b>'

               // pointFormat: '<p>{series.name} : </p></br><b>{point.y}</b>'
            };
        }


        if (chartType == 'pie') {

            var series = [{

                data: dataset
            }];

        }
        else {
            var series = [{
                name: 'Male',
                data: dataset1.total[0].data,
                color: 'LightBlue'
            },
                {

                    name: 'Female',
                    data: dataset2.total[0].data,
                    color: 'orange'

                }]

        }

        console.log(series)


        var plotOptions = {

            bar: {
                colorByPoint: true,
                allowPointSelect: true,
                showInLegend: true,

                stacking: 'percent',
                dataLabels: {
                    //  inside: false,
                    //  align: 'up',
                    enabled: plotColumnDatalabelEnabled,
                    // formatter: function () {
                    //  var pcnt = (this.y / dataSum) * 100;

                    //    return Highcharts.numberFormat(pcnt, 0) + '%';
                    //      return Highcharts.numberFormat(100 * this.y / this.y.total,0) + "%"

                    //   },
                    //  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                }


            },

            column: {
                //colorByPoint: true,
                allowPointSelect: true,
                showInLegend: true,

                stacking: 'normal',

                dataLabels: {
                    enabled: plotColumnDatalabelEnabled,


                    formatter: function () {
                        //   var pcnt = (this.y / dataSum1) * 100;

                        //  return Highcharts.numberFormat(pcnt, 0) + '%';

                       // return Highcharts.numberFormat(this.percentage, 0) + "%"
                        return Highcharts.numberFormat(this.y, 0)
                    },
                    // color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                    color: 'black'
                }


            },


        };


        //         }


        var credits = {
            enabled: false,
        };


        var exporting = {
            buttons: {
                contextButton: {
                    enabled: false
                }
            }
        };

        var json = {};
        json.chart = chart;
        json.title = title;
        json.subtitle = subtitle;
        json.xAxis = xAxis;
        json.yAxis = yAxis;
        json.legend = legend;
        json.tooltip = tooltip;
        json.series = series;
        json.plotOptions = plotOptions;
        json.credits = credits;
        json.exporting = exporting;

        $('#' + divId).highcharts(json);

    }


</script>


</body>
</html>
